@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: #f3860b;
    --linkblue: #3b5998;
  }
}

/* lazy load animation for post photos */
@keyframes dialUpLoad {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.post-photo {
  clip-path: inset(0 0 100% 0);
  animation: dialUpLoad 2s steps(5) forwards;
}
